$background-gradient: linear-gradient(
  180deg,
  #000 7.89%,
  #090202 22.95%,
  #160404 36.72%,
  #280707 52.36%,
  #360a0a 64.05%,
  #591010 74.48%,
  #661313 86.58%,
  #6d1414 89.29%,
  #7d1717 98.89%,
  #921b1b 100%,
  #db2828 100%,
  #761616 100%
);

$white: #fff;
$primary: #db2828;
